.copyRight {
  text-align: center;
  /* padding-bottom: 6px !important; */
  /* color: black !important; */
  /* opacity: ; */
  font-weight: bolder;
  font-family: "BioRhyme", cursive, serif !important;
  /* font-family: 'Mali', cursive !important; */
  /* font-family: "Gill Sans", "Gill Sans MT", "Trebuchet MS", sans-serif; */
  padding: 16px !important;
  font-size: x-large !important;
  box-shadow: black 5px 5px 5px 5px !important;
  /* background: radial-gradient(circle,
        rgba(238, 174, 202, 1) 17%,
        rgba(148, 187, 233, 1) 100%); */
  /* background: linear-gradient(90deg, #74ebd5 0%, #9face6 100%) !important; */
  /* background: linear-gradient(
    90deg,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  ); */
  margin-top: 30px !important;
  margin-bottom: 30px !important;
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}

/* for desktop */
.whatsapp_float {
  position: fixed;
  width: 50px;
  height: 50px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  /* box-shadow: 2px 2px 3px #999; */
  z-index: 100;
}

.whatsapp-icon {
  margin-top: 10px;
}
/* for mobile */
@media screen and (max-width: 767px) {
  .whatsapp-icon {
    margin-top: 7px;
  }
  .whatsapp_float {
    width: 35px;
    height: 35px;
    bottom: 17px;
    right: 17px;
    font-size: 21px;
  }
}
